<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/xlsx.full.min.js"></script>


    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>




    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/DevIcons/css/devicons.min.css" rel="stylesheet" />
    <link href="~/Content/Css/sweetalert.css" rel="stylesheet" />
    <script src="~/Content/JS/jquery.cookie.js"></script>



    <script src="~/Content/JS/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link href="~/Content/Css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/JS/bootstrap-datetimepicker.min.js"></script>

    <link href="~/Content/Css/jquery-confirm.min.css" rel="stylesheet" />
    <script src="~/Content/JS/jquery-confirm.min.js"></script>


    <link href="~/Content/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/css/themes/semantic.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
    <script src="~/Content/alertifyjs/alertify.min.js"></script>

    <script src="~/Content/JS/sweetalert.min.js"></script>

    <style>


        /*#map {
            height: 400px;
            width: 1000px;
            margin-top: 469px;
        }*/
        li:hover {
            display: block;
            border: 5px;
            background-color: red;
            border-radius: 5px;
            opacity: 0.5;
            -webkit-box-reflect: below;
        }
        body.darkmode--activated {
            color: darkorange;
        }

            body.darkmode--activated span {
                color: lightseagreen;
            }

        /*        .navbar.navbar-inverse.navbar-fixed-top {
            opacity: 0.6;
        }*/
    </style>


    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-150px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>


</head>
<body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/J4o.gif" class="navbar-brand img-responsive img-rounded " style="margin-top:0px; width:140px; height:100px; background:transparent;border-radius:5px; border:none" />
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a> Welcome - @User.Identity.Name </a></li>
                        <li> @Html.ActionLink("Log out", "Logout", "Home") </li>
                        if (User.IsInRole("Admin"))
                        {
                            @*<li>
                                    <a href="@Url.Action("Index","Employee_Master")" class="navbar-brand">
                                        <img src="~/Content/Img/logo.png" alt="No Img" style="height:50px; width:50px;" />
                                    </a>
                                </li>*@
                            <li> @Html.ActionLink("Create Role", "Role", "Home") </li>
                            <li></li>
                            <li> @Html.ActionLink("Create", "Create", "Employee_Master") </li>
                            <li></li>
                            <li> @Html.ActionLink("Show Record", "Index", "Employee_Master") </li>
                            <li></li>
                            <li> @Html.ActionLink("File Upload", "FileUpload", "Employee_Master") </li>

                        }
                        else if (User.IsInRole("User"))
                        {
                            <li></li>
                            <li> @Html.ActionLink("File Upload", "FileUpload", "Employee_Master") </li>
                        }
                    }
                    else
                    {
                        <li>
                            <a>
                                @Html.ActionLink("TECH ADMIN", "Login", "Home")
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            @*<div id="map"></div>
                <script>
                    (function (exports) {
                        "use strict";

                        function initMap() {
                            exports.map = new google.maps.Map(document.getElementById("map"), {
                                center: {
                                    lat: 12.976750,
                                    lng: 77.575279
                                },
                                zoom: 8
                            });
                        }

                        exports.initMap = initMap;
                    })((this.window = this.window || {}));
                </script>
                <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBni3ZclGCFnwQXR6CKpet6JWKJF-E4V2A&callback=initMap&libraries=&v=weekly" defer></script>*@

        </footer>
    </div>

    <script src="~/Content/JS/darkmode-js.min.js"></script>
    <script>
        new Darkmode({
            bottom: '32px',
            right: '32px',
            time: '0.3s',
            label: '🌓'
        }).showWidget();
    </script>

</body>
</html>
