@model Tech_Admin.Models.Employee_Master

@{
    ViewBag.Title = "Create";
}

<a href="#" class="txt glyphicon glyphicon-save"> Register User</a>
<style>
    .spanclass {
        /* top: 10px; */
        position: relative;
    }

    span {
        position: relative;
        color: red;
        margin-top: 20px;
    }

    a.txt {
        cursor: pointer;
        text-decoration: none;
        margin-top: 20px;
    }

    .form-group {
        height: 70px;
    }
    a.txt.glyphicon.glyphicon-save.glyphicon {
        font-size: 40px;
    }
    .Loader {
        width: 100%;
        height: 100%;
        /*        position: fixed;
        z-index: 9999;*/
        text-align: center;
        background: white;
        display: none;
        margin-top: 100px;
        margin-left: -200px;
    }

    img {
        background: white;
        margin-left: 500px;
    }

    img, .darkmode-ignore {
        isolation: auto;
        display: inline-block;
        /* background-blend-mode: color-burn; */
        background: linear-gradient(360deg, black, transparent);
        border-radius: 10px;
    }

    a.txt.glyphicon.glyphicon-user.glyphicon {
        font-size: 40px;
    }

    div#loader img, .darkmode-ignore {
        background: transparent;
    }
</style>


@*<link href="~/Controllers/Menu.css" rel="stylesheet" />*@

<hr />
<div style="padding:1px;">
    <div class="row-lg-12">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label col-md-4">Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="TxtName" />
                </div>
                <div class="spanclass col-md-10">
                    <span id="lblName">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="TxtPassword" />
                </div>
                <div class="spanclass col-md-10">
                    <span id="lblPassword">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Confirm Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="TxtCnfPassword" onchange="onchangeCnfpwd()" />
                </div>
                <div class="spanclass col-md-10">
                    <span id="lblCnfPassword">&nbsp;</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" for="TxtDob">Date Of Birth</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="TxtDob" />
                </div>
                <div class="spanclass col-md-10">
                    <span id="lblDob">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Phone</label>
                <div class="col-md-10">
                    <input type="tel" class="form-control" id="TxtPhone" maxlength="10" />
                </div>
                <div class="spanclass col-md-10">
                    <span id="lblPhone">&nbsp;</span>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label col-md-4">Address</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="TxtAddress" />
                </div>
                <div class="spanclass col-md-10">
                    <span id="lblAddress">&nbsp;</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Country</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Country_Info.Country_Id, ViewBag.Country as SelectList, "----Select  Country---",
           htmlAttributes: new { @class = "form-control", @id = "Country" })

                </div>
                <div class="spanclass col-md-10">
                    <span id="lblCountry">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">State</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.State_info.State_Id, new SelectList(Enumerable.Empty<SelectListItem>(), "State_Id", "State_Name"), "---Select State---",
htmlAttributes: new { @class = "form-control", @id = "State" })
                </div>
                <div class="spanclass col-md-10">
                    <span id="lblState">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">City</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.City_Info.City_Id, new SelectList(Enumerable.Empty<SelectListItem>(), "City_Id", "City_Name"), "----Select City---", htmlAttributes: new { @class = "form-control", @id = "City" })
                </div>
                <div>
                    <span id="lblCity">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Email</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="TxtEmail" onblur="EmailIdValidate()" />
                </div>
                <div class="spanclass col-md-10">
                    <span id="lblEmail">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Role</label>
                <div class="col-md-10">
                    <select class="form-control" id="TxtRole">
                        <option value="0">---Select Role---</option>
                        @foreach (var item in ViewBag.RoleId1)
                        {
                            <option value="@item.RoleId">@item.RoleName</option>
                        }
                    </select>
                </div>
                <div class="spanclass col-md-10">
                    <span id="lblRole">&nbsp;</span>
                </div>
            </div>
        </div>

    </div>
</div>
<hr />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10" style=" margin-top: 10px;">
        <input type="button" value="Create" class="btn btn-primary" id="btnCreate" @*onclick="BtnClick()"*@ style="width:500px; left:100px; position:relative;" />
    </div>
</div>
<div class="Loader" id="loader" style="display:none">
    <img src="~/Content/Loader/loader2.gif">
</div>

<div>
    @Html.Hidden("RedirectToIndex", Url.Action("Index", "Employee_Master"))
</div>


    

    <script>

        function onchangeCnfpwd() {
            var CnfPassword = $("#TxtCnfPassword").val();
            var Password = $("#TxtPassword").val();
            if (Password != CnfPassword || CnfPassword != Password) {
                $("#lblCnfPassword").html("Enter Password Carefully Password Mismathced").show().fadeOut(2000);
                $("#TxtCnfPassword").val("");
            }

        }

        function EmailIdValidate() {
            var emailId = $("#TxtEmail").val();
            var regex = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!regex.test(emailId)) {
                $("#lblEmail").html("Email Id Is Not Valid").show().fadeOut(1000);
                $("#TxtEmail").val("");
            }
            else {
                return true;
            }

        }


        //function validateName() {
        //    var $regexname = /^([a-zA-Z\s]{3,16})$/;
        //    if (!$(this).val().match($regexname)) {
        //        // there is a mismatch, hence show the error message
        //        $("#lblName").html("Please Enter Valid Name").show().fadeOut(2000);
        //    }
        //    else {
        //        // else, do not display message
        //        $("#lblName").html(" ");
        //        $("#TxtName").css("border-color", "Green");
        //    }
        //}
    </script>


    <script>
    $(document).ready(function () {

        $(document).ajaxStart(function () {
            $("#loader").css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $("#loader").css("display", "none");
        });

        $("#TxtDob").datetimepicker({
            //format: 'DD-MM-YYYY'
        });


        $("#TxtName").change( function () {
            var $regexname = /^([a-zA-Z\s]{3,16})$/;
            if (!$(this).val().match($regexname)) {
                // there is a mismatch, hence show the error message
                $("#lblName").html("User Name Must Contain Alphanumerical").show().fadeOut(1000);
            }
            else {
                // else, do not display message
                return true;
            }
        });



        $("#TxtPhone").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#lblPhone").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });







        $("#Country").change(function () {
            var CountryId = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetState","Employee_Master")',
                data: { 'Cid': CountryId },
                success: function (data) {
                    var state = $("#State");
                    state.empty();
                    state.append($('<option/>', {
                        value: 0,
                        text: "---Select State---"
                    }));
                    $.each(data, function (index, item) {
                        state.append($('<option/>', {
                            value: item.Value,
                            text: item.Text
                        }));
                    });
                }
            });
        });



        $("#State").change(function () {
            var StateId = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCity","Employee_Master")',
                data: { 'Sid': StateId },
                success: function (data) {
                    var state = $("#City");
                    state.empty();
                    state.append($('<option/>', {
                        value: 0,
                        text: "---Select City---"
                    }));
                    $.each(data, function (index, item) {
                        state.append($('<option/>', {
                            value: item.Value,
                            text: item.Text
                        }));
                    });
                }
            });
        });


        $("#TxtName").on('focusout', function () {
            var Name = $("#TxtName").val();
            if (Name == "") {
                $("#lblName").html("Please Enter Valid Name").show().fadeOut(2000);
                $("#TxtName").css("border-color", "Red");


            }
            else
            {
                $.ajax({
                    type: "GET",
                    data: { name: Name },
                    url: '@Url.Action("Nameavailability","Employee_Master")',
                    success: function (data) {
                        if (data != "success") {
                            $("#lblName").html("Already Present Kindly Choose Another").show().fadeOut(2000);
                            $("#TxtName").css("border-color","Red");
                        }
                        else {
                            $("#lblName").html('<font color="Green">Username Is Available</font>').show().fadeOut(2000);
                            $("#TxtName").css("border-color", "Green");
                        }
                    }
                });
            }
        });

        $("#TxtPassword").on('focusout', function () {
            var Password = $("#TxtPassword").val();
            if (Password == "") {
                $("#lblPassword").html("Please enter Password").show().fadeOut(2000);
            }
        });


        $("#TxtCnfPassword").on('blur',function () {
            var CnfPassword = $("#TxtCnfPassword").val();
            var Password = $("#TxtPassword").val();
            if (CnfPassword == "") {
                $("#lblCnfPassword").html("Enter Password Carefully").show().fadeOut(2000);
            }
        });




        $("#TxtDob").on('focusout', function () {
            var Dob = $("#TxtDob").val();
            if (Dob == "") {
                $("#lblDob").html("Please enter Dob").show().fadeOut(2000);
            }
        });


        $("#TxtPhone").on('focusout', function () {
            var phone = $("#TxtPhone").val();
            if (phone == "" && phone != 10) {
                $("#lblPhone").html("Please Enter Tour 10digit Phone").show().fadeOut(2000);
            }
            else
            {
                $.ajax({
                    type: 'Get',
                    data: {
                        phone: phone
                    },
                    url: '@Url.Action("Phoneavailability", "Employee_Master")',
                    success: function (data) {
                        if (data != "success") {
                            $("#lblPhone").html("Already In Record Re-Enter The Number").show().fadeOut(2000);
                            $("#TxtPhone").css("border-color", "Red");
                        }
                        else {
                            $("#lblPhone").html("");
                            $("#TxtPhone").css("border-color", "Green");
                        }
                    }
                });
            }
        });


        $("#TxtAddress").on('focusout', function () {
            var Address = $("#TxtAddress").val();
            if (Address == "") {
                $("#lblAddress").html("Please enter Address").show().fadeOut(2000);
            }
        });

        $("#Country").on('focusout', function () {
            var country = $("#Country").val();
            if (country == 0) {
                $("#lblCountry").html("Please enter Country").show().fadeOut(2000);
            }
        });

        $("#TxtState").on('focusout', function () {
            var State = $("#TxtState").val();
            if (State == 0) {
                $("#lblState").html("Please enter State").show().fadeOut(2000);
            }
        });

        $("#TxtCity").on('focusout', function () {
            var City = $("#TxtCity").val();
            if (City == 0) {
                $("#lblCity").html("Please enter City").show().fadeOut(2000);
            }
        });

        $("#TxtEmail").on('focusout', function () {
            var Email = $("#TxtEmail").val();
            if (Email == "") {
                $("#lblEmail").html("Please enter Email").show().fadeOut(2000);
            }
             else
            {
                $.ajax({
                    type: 'Get',
                    data: { emailId: Email },
                    url: '@Url.Action("Emailavailability", "Employee_Master")',
                    success: function (data) {
                        if (data != "success") {
                            $("#lblEmail").html("Already In Records Re-enter Email").show().fadeOut(2000);
                            $("#TxtEmail").css("border-color", "Red");
                        }
                        else {
                            $("#lblEmail").html(" ");
                            $("#TxtEmail").css("border-color", "Green");
                        }
                    }
                });
            }
        });

        $("#TxtRole").on('focusout', function () {
            var Role = $("#TxtRole").val();
            if (Role == 0) {
                $("#lblRole").html("Please enter Role").show().fadeOut(2000);
            }
        });





        $("#btnCreate").on("click", function () {
        var name = $("#TxtName").val();
        var password = $("#TxtPassword").val();
        var CnfPassword = $("#TxtCnfPassword").val();
        var dob = $("#TxtDob").val();
        var phone = $("#TxtPhone").val();
        var address = $("#TxtAddress").val();
        var country = $("#Country").val();
        var state = $("#State").val();
        var city = $("#City").val();
        var email = $("#TxtEmail").val();
        var role = $("#TxtRole").val();

            var model = {
                Name: name,
                Date_Of_Birth: dob,
                Phone: phone,
                Address: address,
                Country: country,
                State: state,
                City: city,
                EmailId: email,
                RoleId: role,
                Password: password

            }
            //var json = JSON.stringify(model);

            if (name == "") {
                $("#lblName").html("Please Enter Valid Name").show().fadeOut(2000);
            }
            else if (password == "") {
                $("#lblPassword").html("Please enter Password").show().fadeOut(2000);
            }
            else if (CnfPassword == "") {
                $("#lblCnfPassword").html("Please enter confirm password").show().fadeOut(2000);
            }
            else if (phone == "") {
                $("#lblPhone").html("Please enter Phone").show().fadeOut(2000);
            }
            else if (dob == "") {
                $("#lblDob").html("Please enter Dob").show().fadeOut(2000);
            }
            else if (address == "") {
                $("#lblAddress").html("Please enter Address").show().fadeOut(2000);
            }

            else if (city == 0) {
                $("#lblCity").html("Please enter City").show().fadeOut(2000);
            }
            else if (state == 0) {
                $("#lblState").html("Please enter State").show().fadeOut(2000);
            }
            else if (country == 0) {
                $("#lblCountry").html("Please enter Country").show().fadeOut(2000);
            }
            else if (email == "") {
                $("#lblEmail").html("Please enter Email").show().fadeOut(2000);
            }

            else if (role == 0) {
                $("#lblRole").html("Please enter Role").show().fadeOut(2000);
            }
            else {
                $.ajax({
                    type: "POST",
                    data: model,
                    url: '@Url.Action("Create2", "Employee_Master")',
                    success: function (response) {
                        $.alert({
                            title: 'Success !',
                            content: 'Customer Saved successfully..!',
                            icon: 'fa fa-rocket',
                            animation: 'scale',
                            closeAnimation: 'scale',
                            buttons: {
                                okay: {
                                    text: 'Okay',
                                    btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                                    action: function (event, ui) {
                                        $(this).remove();
                                        var url = $("#RedirectToIndex").val();
                                        location.href = url;
                                    }
                                }
                            }
                        });
                        $("#loader").hide();
                    },error: function () {
                        swal("Data Not added")
                    }
                });
            }
        });
    });

    </script>


