@model IEnumerable<Tech_Admin.Models.Employee_Master>

@{
    ViewBag.Title = "Index";
}

<a href="#" class="glyphicon glyphicon-record clx">User Record</a>

<link href="~/Content/DataTables/datatables.css" rel="stylesheet" />
<script src="~/Content/DataTables/datatables.js"></script>


<link href="~/Content/JS/Jqgrid/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/JS/Jqgrid/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Content/JS/Jqgrid/grid.locale-en.js"></script>
<script src="~/Content/JS/Jqgrid/jquery.jqGrid.js"></script>
@*<script src="~/Scripts/jszip.js"></script>
<script src="~/Scripts/jszip.min.js"></script>*@


<style>
    .style1 {
        border: none;
        height: 50vh;
        font-family: monospace;
        /* display: block; */
        box-shadow: 10px 10px 10px 10px grey;
        color: grey;
    }

    #mytable tr:nth-child(2n+1) {
        background-color: gray;
        color: goldenrod;
        border: none;
    }

    #mytable tr:hover {
        background-color: antiquewhite;
    }

    tr td a.txt {
        color: black;
    }

        tr td a.txt:hover {
            color: red;
        }

    a.txt {
        cursor: pointer;
        text-decoration: none;
    }

    a.clx {
        cursor: pointer;
        text-decoration: none;
    }

    div#mytable_wrapper {
        position: relative;
        margin-top: 10px;
    }

    a.glyphicon.glyphicon-record.clx {
        font-size: 50px;
    }




    /*Jq Grid*/

    .ui-widget.ui-widget-content {
        border: 1px solid grey;
        box-shadow: 7px 1px 21px grey, -7px -5px 13px grey, 24px 4px 121px grey, 4px 2px 30px grey;
    }

    h2 {
        margin-top: 40px;
    }
</style>

<table class="table style1 table-hover table-striped" id="mytable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date_Of_Birth
            </th>
            <th>
                Phone
            </th>
            <th>
                Address
            </th>
            <th>
                EmailId
            </th>
            <th>
                Country
            </th>
            <th>
                State
            </th>
            <th>
                City
            </th>
            <th>
                @if (User.IsInRole("Admin"))
                {
                    <label>Action</label>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="txt" value="@item.Name">@item.Name</a>
                </td>
                <td>
                    <a class="txt" value="@item.Date_Of_Birth">@item.Date_Of_Birth</a>
                </td>
                <td>
                    <a class="txt" value="@item.Phone">@item.Phone</a>
                </td>
                <td>
                    <a class="txt" value="@item.Address">@item.Address</a>
                </td>
                <td>
                    <a class="txt" value="@item.EmailId">@item.EmailId</a>
                </td>


                <td>
                    <a class="txt" value="@item.Country_Info.Country_name">@item.Country_Info.Country_name</a>
                </td>
                <td>
                    <a class="txt" value="@item.State_info.State_Name">@item.State_info.State_Name</a>
                </td>
                <td>
                    <a class="txt" value="@item.City_Info.City_Name">@item.City_Info.City_Name</a>
                </td>

                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="glyphicon glyphicon-edit" href="@Url.Action("Edit","Employee_Master",new { id=item.EmpId})"></a>
                        <a href="#" class="btnDelete glyphicon glyphicon-trash"></a><input type="hidden" value="@item.EmpId" />

                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<h2>JqGrid Employee</h2>
<div class="container2">
    <table id="list2" class="table table-hover table-striped"></table>
    <div id="pager2"></div>

</div>
<br />


<input type="button" id="export" value="Export To excel" class="btn btn-warning" onclick="location.href='@Url.Action("ExportToExcel","Employee_Master")'" />

<div id="la">

    The Pro_Admin License (MIT)

    Copyright (c) 2020 Vishal Kumar

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

</div>


<script>

    $("#la").hide();
    //var pre = document.createElement('pre');
    ////custom style.
    //pre.style.maxHeight = "400px";
    //pre.style.margin = "0";
    //pre.style.padding = "24px";
    //pre.style.whiteSpace = "pre-wrap";
    //pre.style.textAlign = "justify";
    //pre.appendChild(document.createTextNode($('#la').text()));
    ////show as confirm
    //alertify.confirm("License Agreement", pre, function () {
    //    alertify.success('Accepted');
    //}, function () {
    //    alertify.error('Declined');
    //}).set({ labels: { ok: 'Accept', cancel: 'Decline' }, padding: false }).set('closable', false).set('resizable', false).set('movable', false);
</script>



@*<script>
                (function ($) {
                    if (!$.cookie("Login")) {
                        swal("Welcome", "@User.Identity.Name !", "info")
                        $.cookie("Login", "x");
                        var pre = document.createElement('pre');
                        //custom style.
                        pre.style.maxHeight = "400px";
                        pre.style.margin = "0";
                        pre.style.padding = "24px";
                        pre.style.whiteSpace = "pre-wrap";
                        pre.style.textAlign = "justify";
                        pre.appendChild(document.createTextNode($('#la').text()));
                        //show as confirm
                        alertify.confirm("License Agreement", pre, function () {
                            alertify.success('Accepted');
                        }, function () {
                            alertify.error('Declined');
                        }).set({ labels: { ok: 'Accept', cancel: 'Decline' }, padding: false }).set('closable', false).set('resizable', false).set('movable', false);

                    }
                })(jQuery);
    </script>*@


<script>

    $(document).ready(function () {

        $("#mytable").DataTable();
        $(".btnDelete").on("click", function () {
            var id = $(this).next().val();
            alertify.confirm('Are You Sure', 'To Delete !',
                function () {
                    alertify.success('Ok')
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","Employee_Master")',
                        data: { id: id },
                        dataType: "json",
                        success: function (response) {
                            if (response) {
                                alertify.alert('Successful', 'Record Deleted!',
                                    function () {
                                        alertify.success('Ok');
                                        location.reload();
                                    });
                            }

                            else {
                                alertify.alert('Your Data Is Safe', 'Record Not Deleted!',
                                    function () {
                                        alertify.success('Ok');
                                        location.reload();
                                    });
                            }
                        }
                    });
                }
                , function ()
                {
                    alertify.error('Cancel')
                });
        });
    });
</script>


<script>
    $("#list2").jqGrid({
        datatype: "json",
        url: '@Url.Action("GetData","Employee_Master")',
        height: 150,

        colModel:
            [
                {
                    label: 'Action', name: 'myac', width: 80, fixed: true, sortable: false, resize: false, formatter: 'actions',
                    formatoptions: { keys: true }
                },

                { label: 'Id', name: 'EmpId', index: 'EmpId', width: 150, hidden: false },
                { label: 'Name', name: 'Name', index: 'Name', width: 150, editable: true },
                {
                    label: 'Dob', name: 'Date_Of_Birth', index: 'Date_Of_Birth', width: 150,
                    exportoptions: { excel_parsers: false, excel_format: 'yyyy/dd/mm' },
                    formatter: 'date', formatoptions: { newformat: 'd-M-Y' },
                    datefmt: 'd-M-Y', sorttype: 'date', align: 'center',
                    editable: true
                },
                { label: 'Phone', name: 'Phone', index: 'Phone', width: 150, editable: true },
                { label: 'Address', name: 'Address', index: 'Address', width: 150, editable: false },
                {
                    label: 'Country', name: 'Country', index: 'Country', edittype: 'select',
                    editoptions: {
                        value: GetCountry()
                        //dataEvents: [{
                        //    type: 'change',
                        //    fn: function (e) { countrychange(); }
                        //}]
                    },
                    width: 150, editable: true,
                    formatter: 'select',
                },
                {
                    label: 'State', name: 'State', index: 'State', width: 150, editable: true, edittype: 'select',
                    editoptions: {
                        value: GetState()
                    },
                    formatter: 'select'

                },
                {
                    label: 'City', name: 'City', index: 'City', width: 150, editable: true, edittype: 'select',
                    editoptions:
                    {
                        value: GetCity()
                    },
                    formatter: 'select'
                },
                { label: 'EmailId', name: 'EmailId', index: 'EmailId', width: 150, editable: true },
            ],
        loadonce: true,
        rowNum: 10,
        viewrecords: true,
        rowList: [10, 20, 30],
        pager: '#pager2',
        sortable: true,
        sortname: 'Name',
        sortorder: "asc",
        grouping: true,
        groupingView: {
            groupField: ['EmpId'],
            groupColumnShow: [false],
            groupText: ['<b> ID: {0} </b>'],
            grouporder: "asc",
            groupCollapse: false
        },
        caption: "Employee Detail"
    });
    jQuery("#list2").jqGrid("navGrid", "#pager2", { edit: true, add: true,del:true, search: true, refresh: true },
        {
            url: '@Url.Action("Edit","Employee_Master")',
            closeAfterEdit:true,

        },
        {
            url: '@Url.Action("Create","Employee_Master")',
            closeAfterAdd:true,
        },
        {
            url: '@Url.Action("Delete","Employee_Master")',
            closeAfterDelete: true
        }
    ).navButtonAdd("#pager2", {
        caption: "",
        Title: "Export To Excel",
        onClickButton: function () {
            debugger
            var filename = "jqGrid.xlsx";
            var data = jQuery(this).jqGrid("getGridParam", 'lastpage'), i, item,
                dataAsArray = [
                    ["EmpId", "Name", "Date_Of_Birth", "Phone", "Country", "State", "City", "EmailId"]
                ];
            debugger
            for (i = 0; i < data.length; i++) {
                item = data[i];
                dataAsArray.push([
                    item.Name,
                    new Date(item.Date_Of_Birth),
                    item.Phone, item.Country, item.State,
                    item.City, item.EmailId]);
            }
            debugger
            var ws_name = "SheetJS";
            var wb = XLSX.utils.book_new();
            debugger
            var ws = XLSX.utils.aoa_to_sheet(dataAsArray);
            XLSX.utils.book_append_sheet(wb, ws, ws_name);
            XLSX.writeFile(wb, filename);
        }
    });



    function countrychange() {
        var country = $(this).val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetState","Employee_Master")',
            data: { 'Cid': country },
            success: function (data) {
                var state = $("#State");
                state.empty();
                state.append($('<option/>', {
                    Value: 0,
                    Text:"--Select State---"
                }));
                $.each(data, function (index, item) {
                    state.append($('<option/>', {
                        Value: item.Value,
                        Text: item.Text
                    }));
                });
            }
        });
    }




     function GetCountry() {
         var Countrylist = {};
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCountry","Employee_Master")',
                dataType: "json",
                async: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {

                        var obj = {};
                        var Name = data[i].Country_name;
                        var key = "" + data[i].Country_Id;
                        Countrylist[key] = Name;
                    }
                }
            });
         return Countrylist;
        }

    function GetState() {

        var Statelist = {};
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetState2","Employee_Master")',
            async: false,
            contentType: "application/json; charset=utf-8",

            success: function (data) {

                for (var i = 0; i < data.length; i++) {

                    var obj = {};
                    var Name = data[i].State_Name;
                    var key = data[i].State_Id;
                    Statelist[key] = Name;
                }
            }
        });
        return Statelist;
    }


    function GetCity() {

        var Citylist = {};
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCity2","Employee_Master")',
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var obj = {};
                    var Name = data[i].City_Name;
                    var key = data[i].City_Id;
                    Citylist[key] = Name;
                }
            }
        });
        return Citylist;
    }

</script>